/*css reset start*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    font-family: Microsoft JhengHei;
    line-height: 1;
    color: #3D1101;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #3D1101;
}

/*css reset end*/

/* pure.css form start */

/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/

.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.pure-form input[type="color"] {
    padding: 0.2em 0.5em;
}


.pure-form input[type="text"]:focus,
.pure-form input[type="password"]:focus,
.pure-form input[type="email"]:focus,
.pure-form input[type="url"]:focus,
.pure-form input[type="date"]:focus,
.pure-form input[type="month"]:focus,
.pure-form input[type="time"]:focus,
.pure-form input[type="datetime"]:focus,
.pure-form input[type="datetime-local"]:focus,
.pure-form input[type="week"]:focus,
.pure-form input[type="number"]:focus,
.pure-form input[type="search"]:focus,
.pure-form input[type="tel"]:focus,
.pure-form input[type="color"]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
    outline: 0;
    border-color: #129FEA;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]):focus {
    outline: 0;
    border-color: #129FEA;
}

.pure-form input[type="file"]:focus,
.pure-form input[type="radio"]:focus,
.pure-form input[type="checkbox"]:focus {
    outline: thin solid #129FEA;
    outline: 1px auto #129FEA;
}

.pure-form .pure-checkbox,
.pure-form .pure-radio {
    margin: 0.5em 0;
    display: block;
}

.pure-form input[type="text"][disabled],
.pure-form input[type="password"][disabled],
.pure-form input[type="email"][disabled],
.pure-form input[type="url"][disabled],
.pure-form input[type="date"][disabled],
.pure-form input[type="month"][disabled],
.pure-form input[type="time"][disabled],
.pure-form input[type="datetime"][disabled],
.pure-form input[type="datetime-local"][disabled],
.pure-form input[type="week"][disabled],
.pure-form input[type="number"][disabled],
.pure-form input[type="search"][disabled],
.pure-form input[type="tel"][disabled],
.pure-form input[type="color"][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type])[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
    background-color: #eee;
    /* menu hover bg color */
    color: #777;
    /* menu text color */
    border-color: #ccc;
}

.pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid {
    color: #b94a48;
    border-color: #e9322d;
}

.pure-form input[type="file"]:focus:invalid:focus,
.pure-form input[type="radio"]:focus:invalid:focus,
.pure-form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}

.pure-form select {
    /* Normalizes the height; padding is not sufficient. */
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: white;
}

.pure-form select[multiple] {
    height: auto;
}

.pure-form label {
    margin: 0.5em 0 0.2em;
}

.pure-form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}

.pure-form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.pure-form-stacked input[type="text"],
.pure-form-stacked input[type="password"],
.pure-form-stacked input[type="email"],
.pure-form-stacked input[type="url"],
.pure-form-stacked input[type="date"],
.pure-form-stacked input[type="month"],
.pure-form-stacked input[type="time"],
.pure-form-stacked input[type="datetime"],
.pure-form-stacked input[type="datetime-local"],
.pure-form-stacked input[type="week"],
.pure-form-stacked input[type="number"],
.pure-form-stacked input[type="search"],
.pure-form-stacked input[type="tel"],
.pure-form-stacked input[type="color"],
.pure-form-stacked input[type="file"],
.pure-form-stacked select,
.pure-form-stacked label,
.pure-form-stacked textarea {
    display: block;
    margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form-stacked input:not([type]) {
    display: block;
    margin: 0.25em 0;
}

.pure-form-aligned input,
.pure-form-aligned textarea,
.pure-form-aligned select,
/* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
.pure-form-aligned .pure-help-inline,
.pure-form-message-inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}

.pure-form-aligned textarea {
    vertical-align: top;
}

/* Aligned Forms */
.pure-form-aligned .pure-control-group {
    margin-bottom: 0.5em;
}

.pure-form-aligned .pure-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}

.pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 11em;
}

/* Rounded Inputs */
.pure-form input.pure-input-rounded,
.pure-form .pure-input-rounded {
    border-radius: 2em;
    padding: 0.5em 1em;
}

/* Grouped Inputs */
.pure-form .pure-group fieldset {
    margin-bottom: 10px;
}

.pure-form .pure-group input,
.pure-form .pure-group textarea {
    display: block;
    padding: 10px;
    margin: 0 0 -1px;
    border-radius: 0;
    position: relative;
    top: -1px;
}

.pure-form .pure-group input:focus,
.pure-form .pure-group textarea:focus {
    z-index: 3;
}

.pure-form .pure-group input:first-child,
.pure-form .pure-group textarea:first-child {
    top: 1px;
    border-radius: 4px 4px 0 0;
    margin: 0;
}

.pure-form .pure-group input:first-child:last-child,
.pure-form .pure-group textarea:first-child:last-child {
    top: 1px;
    border-radius: 4px;
    margin: 0;
}

.pure-form .pure-group input:last-child,
.pure-form .pure-group textarea:last-child {
    top: -2px;
    border-radius: 0 0 4px 4px;
    margin: 0;
}

.pure-form .pure-group button {
    margin: 0.35em 0;
}

.pure-form .pure-input-1 {
    width: 100%;
}

.pure-form .pure-input-3-4 {
    width: 75%;
}

.pure-form .pure-input-2-3 {
    width: 66%;
}

.pure-form .pure-input-1-2 {
    width: 50%;
}

.pure-form .pure-input-1-3 {
    width: 33%;
}

.pure-form .pure-input-1-4 {
    width: 25%;
}

/* Inline help for forms */
/* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
.pure-form .pure-help-inline,
.pure-form-message-inline {
    display: inline-block;
    padding-left: 0.3em;
    color: #666;
    vertical-align: middle;
    font-size: 0.875em;
}

/* Block help for forms */
.pure-form-message {
    display: block;
    color: #666;
    font-size: 0.875em;
}

@media only screen and (max-width : 480px) {
    .pure-form button[type="submit"] {
        margin: 0.7em 0 0;
    }

    .pure-form input:not([type]),
    .pure-form input[type="text"],
    .pure-form input[type="password"],
    .pure-form input[type="email"],
    .pure-form input[type="url"],
    .pure-form input[type="date"],
    .pure-form input[type="month"],
    .pure-form input[type="time"],
    .pure-form input[type="datetime"],
    .pure-form input[type="datetime-local"],
    .pure-form input[type="week"],
    .pure-form input[type="number"],
    .pure-form input[type="search"],
    .pure-form input[type="tel"],
    .pure-form input[type="color"],
    .pure-form label {
        margin-bottom: 0.3em;
        display: block;
    }

    .pure-group input:not([type]),
    .pure-group input[type="text"],
    .pure-group input[type="password"],
    .pure-group input[type="email"],
    .pure-group input[type="url"],
    .pure-group input[type="date"],
    .pure-group input[type="month"],
    .pure-group input[type="time"],
    .pure-group input[type="datetime"],
    .pure-group input[type="datetime-local"],
    .pure-group input[type="week"],
    .pure-group input[type="number"],
    .pure-group input[type="search"],
    .pure-group input[type="tel"],
    .pure-group input[type="color"] {
        margin-bottom: 0;
    }

    .pure-form-aligned .pure-control-group label {
        margin-bottom: 0.3em;
        text-align: left;
        display: block;
        width: 100%;
    }

    .pure-form-aligned .pure-controls {
        margin: 1.5em 0 0 0;
    }

    /* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
    .pure-form .pure-help-inline,
    .pure-form-message-inline,
    .pure-form-message {
        display: block;
        font-size: 0.75em;
        /* Increased bottom padding to make it group with its related input element. */
        padding: 0.2em 0 0.8em;
    }
}


/* pure.css form end */

/* pure.css button start */

/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-button {
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* Inherit .pure-g styles */
.pure-button-group {
    letter-spacing: -0.31em;
    /* Webkit: collapse white-space between units */
    *letter-spacing: normal;
    /* reset IE < 8 */
    *word-spacing: -0.43em;
    /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed;
    /* Webkit: fixes text-rendering: optimizeLegibility */
}

.opera-only :-o-prefocus,
.pure-button-group {
    word-spacing: -0.43em;
}

.pure-button-group .pure-button {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

/*csslint outline-none:false*/

.pure-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444;
    /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80);
    /* rgba supported */
    border: 1px solid #999;
    /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);
    /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
    /* csslint ignore:start */
    filter: alpha(opacity=90);
    /* csslint ignore:end */
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
}

.pure-button:focus {
    outline: 0;
}

.pure-button-active,
.pure-button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
    border-color: #000\9;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
    border: none;
    background-image: none;
    /* csslint ignore:start */
    filter: alpha(opacity=40);
    /* csslint ignore:end */
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}

.pure-button-hidden {
    display: none;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}



/* Button Groups */
.pure-button-group .pure-button {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid #111;
    /* fallback color for rgba() for IE7/8 */
    border-right: 1px solid rgba(0, 0, 0, 0.2);

}

.pure-button-group .pure-button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.pure-button-group .pure-button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}


/* pure.css button end */


/* layout start */

/* 統一屬性管理 start */
.wrap {
    background: rgba(239, 233, 231, 1);
}

/* wrap 大小和置中 */
.w_center {
    max-width: 1024px;
    margin: 0 auto;
}

.w_padding {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

@media(max-width: 768px) {
    .w_padding {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width: 415px) {
    .w_padding {
        padding-left: 0;
        padding-right: 0;
    }
}

.clear {
    clear: both;
}

h3,
h4,
h5,
p,
li {
    line-height: 1.5;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

/* 統一屬性管理 end */

/* 表頭選單 */
.header_background {
    background: rgba(0, 0, 0, 0.75);
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;

}

.header {
    padding-top: 0;
    padding-bottom: 0;
    transition: background 0.3s;
}

@media(max-width: 415px) {
    .header {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* logo */
.header-logo {
    background: url(../img/logo_w@svg.svg);
    background-repeat: no-repeat;
    width: 120px;
    height: 24px;
    /* 圖片置中，相對於 header */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header-logo a {
    /* 隱藏 h1 文字 */
    overflow: hidden;
    white-space: nowrap;
    text-indent: 101%;
    display: block;
}

/* pc 選單 */
.header-menu {
    float: right;
}

.header-menu li {
    float: left;
}

.header-menu li a {
    color: #fff;
    display: block;
    padding: 0 25px;
    line-height: 60px;
    transition: all 0.6s;
    font-size: 17px;
}

.header-menu li a:hover {
    background: gray;
}

/* 隱藏 moblie 選單按鈕 */
.header-humMenu {
    display: none;
}

/* mobile 選單 ，768px 以下改為漢堡選單 */
@media(max-width: 768px) {

    /* 配合漢堡選單變黑色 */
    .clickMenu .header {
        background: rgba(0, 0, 0, 1);
    }

    /* moblie 選單*/
    .header-menu {
        float: none;
        background: rgba(0, 0, 0, 1);
        /* 預設隱藏 */
        max-height: 0;
        overflow: hidden;
        position: absolute;
        top: 59px;
        right: 0;
        left: 0;
        transition: max-height 0.3s;
    }

    /* 新增 clickMenu 作為點擊事件 */
    .clickMenu .header-menu {
        max-height: 300px;
    }

    .header-menu li {
        float: none;
    }

    .headermenu li a {
        color: #fff;
        display: block;
        font-size: 17px;
        text-align: center;
    }

    /* 漢堡選單按鈕，之後改成三條線的 */
    .header-humMenu {
        display: block;
        color: #fff;
        padding: 0 15px;
        line-height: 60px;
        font-size: 17px;
        float: right;
    }
}

/* banner */
.banner_background {
    background: #100100;
}

.banner {
    background: url(../img/header_desktop.png);
    background-repeat: no-repeat;
    height: 420px;
    position: relative;
}

/*更換 mobile 圖 600px 更換因為 mobile 圖片寬度為 600*/
@media(max-width: 600px) {
    .banner {
        background: url(../img/header_mobile.png);
    }
}

/*標語*/
.banner-slogan {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 20px;
    text-align: center;
    /* 用絕對定位置中，相對於 header */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-slogan h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* 設定在 767px 以下時，slogan 寬度為 60% */
@media(max-width: 767px) {
    .banner-slogan {
        width: 60%;
    }
}

/* 設定在 415px 以下時，slogan 寬度為 90% */
@media(max-width: 415px) {
    .banner-slogan {
        width: 90%;
    }
}

/*footer*/

/* 介紹 + 聯絡 */
.footer-intro,
.footer-contact {
    float: left;
    width: 30%;
    margin-right: 10px;
}

.footer-intro h3,
.footer-contact h3 {
    margin-bottom: 1em
}

.footer-contact ul {
    list-style-type: disc;
    list-style-position: inside;
}

/* 767px 以下改成單欄式排版 50% */
@media(max-width: 767px) {

    /* 介紹 + 聯絡 for 平板 */
    .footer-intro,
    .footer-contact {
        float: none;
        width: 50%;
        margin: 0 auto 2em auto;
    }
}

/* 415px 以下改成單欄式排版 90% */
@media(max-width: 415px) {

    /* 表尾介紹 + 聯絡 for moblie */
    .footer-intro,
    .footer-contact {
        width: 90%;
    }
}

/* logo + link */
.footer-item {
    float: right;
    width: 30%;
}

.footer-item-logo {
    background: url(../img/logo_l@svg.svg);
    width: 243px;
    height: 48px;
    margin-bottom: 2em;
    float: right;
}

.footer-item-link {
    float: right;
    width: 100%;
    /* 為了不讓 link 和 logo 同行 */
}

.footer-item-link li {
    float: right;
    margin-left: 10px;
}

.footer-item-link li a img {
    width: 38px;
}

/* 767px 以下改成單欄式排版 50% */
@media(max-width: 767px) {

    /* logo + link for 平板 */
    .footer-item {
        float: none;
        width: 50%;
        margin: 0 auto;
    }

}

/* 415px 以下改成單欄式排版 90%*/
@media(max-width: 415px) {

    /* logo + link for moblie */
    .footer-item {
        width: 90%;
    }
}

/*layout end*/


/* 首頁 start */
/* feature */

.feature-title {
    text-align: center;
    position: relative;
    width: 240px;
    margin: 0 auto;
}

/* 偽元素做出前後線 */
.feature-title::after,
.feature-title::before {
    content: "";
    border-top: 1.5px solid #979797;
    width: 120px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.feature-title::after {
    content: "";
    right: 255px;

}

.feature-title::before {
    content: "";
    left: 255px;
}

@media(max-width: 767px) {

    .feature-title::after,
    .feature-title::before {
        display: none;
    }
}

/* feature-item */
.feature-item {
    margin: 2em 0px;
}

.feature-item li {
    float: left;
    width: 27.33333%;
    margin: 0 3%;
}

.feature-item li img {
    border-radius: 50%;
    border: 0px;
    display: block;
    margin: 0 auto;
}

.feature-item li h4 {
    text-align: center;
    margin: 0.5em;
}

/* 平板 767px 以下*/
@media(max-width: 767px) {

    .feature-item li {
        float: none;
        width: 50%;
        margin: 0 auto 2em auto;
    }
}

/* mobile 415px */
@media(max-width: 415px) {

    .feature-item li {
        float: none;
        width: 90%;
        margin: 0 auto 2em auto;
    }
}

/* todayChef */
.todayChef {
    background: #3d1101;

}

.todayChef-wrap {
    padding-top: 0;
    padding-bottom: 0;
}

.todayChef-photo {
    background: url(../img/main_chef_brown.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 50%;
    height: 460px;
}

/* 768px 切換小張的照片 */
@media(max-width: 768px) {
    .todayChef-photo {
        background: url(../img/main_chef_brown_small.png);
    }
}

/* 415px */
@media(max-width: 415px) {
    .todayChef-photo {
        background: url(../img/main_chef_brown.png);
        width: 100%;
    }
}

.todayChef-intro {
    color: #fff;
    width: 50%;
    padding: 5%;
    height: 460px;
    float: right;
    /* 垂直置中 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.todayChef-intro p {
    margin-top: 1em;
}

/* 415px */
@media(max-width: 415px) {
    .todayChef-intro {
        padding: 3em 0;
        margin: 0 auto;
        height: auto;
        float: none;
        width: 90%
    }
}

/* comments */
.comments h3 {
    text-align: center;
    margin-bottom: 1em;
}

.comments ul li {
    float: left;
    width: 33.33333%;
    min-height: 200px;
}

@media(max-width: 767px) {
    .comments ul li {
        float: none;
        width: 90%;
        margin: 0 auto;
    }
}


.comments ul li img {
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}

.comments-message {
    float: left;
    width: 65%;
    position: relative;
}

@media(max-width: 767px) {
    .comments-message {
        width: 75%;
    }
}

@media(max-width: 415px) {
    .comments-message {
        width: 71%;
    }
}

.comments-message h4 {
    height: 67px;
    line-height: 67px;
}

.comments-message p {
    padding-bottom: 2em;
}

.comments-message h5 {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #977f76;
}

/* 訂位表單 */
.bookingForm_background {
    background: #f6f4f3;
}

.bookingForm h3 {
    text-align: center;
    margin-bottom: 2em;
}

/* 地圖 */
.bookingForm-map {
    background: url(../img/Map.png);
    background-repeat: no-repeat;
    height: 388px;
    float: left;
    width: 49%;
}

/* 415px 以下 */
@media(max-width: 415px) {
    .bookingForm-map {
        float: none;
        width: 90%;
        margin: 0 auto;
    }
}

/* 表單部分 */
.bookingForm form {
    width: 49%;
    height: 388px;
    float: right;
    position: relative;
}

@media(max-width: 415px) {
    .bookingForm form {
        width: 90%;
        float: none;
        margin: 30px auto 0 auto;
    }
}


.bookingForm input[type="text"],
.bookingForm form label {
    width: 100%;
    margin: 0.7em 0;
}

.bookingForm form input[type="radio"] {
    margin: 0.9em 3px 0 5px;
}

.bookingForm .btn_position {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn_position button {
    margin-left: 5px;
}

.pure-button-primary {
    background-color: #EE6723;
}

.pure-button-disabled {
    background-color: #a09e9e;
}

.pure-button {
    padding: 0.5em 1.5em;
    border-radius: 5px;
}

/* 首頁 end */

/* 訂購頁 start */

/* 訂購選單 */

.orderMain {
    padding-bottom: 0;
}

.orderMain-menu {
    float: left;
    width: 20%;
    margin-right: 1%;
}

@media(max-width: 840px) {
    .orderMain-menu {
        float: none;
        width: 90%;
        margin: 0 auto 2em auto;
    }
}

.orderMain-menu h4 {
    padding: 5px;
    margin-left: 2.5%;
    margin-bottom: 0.5em;
}

.orderMain-menu ul li {
    border-bottom: 1.3px solid #3D1101;
}

.orderMain-menu ul li a {
    display: block;
    padding: 5px;
    transition: all 0.3s;
}

.orderMain-menu ul li a:hover {
    background: #3d1101;
    color: #fff;
}


@media(max-width: 840px) {
    .orderMain-menu ul li {
        width: 45%;
        margin: 0 2.5%;
        float: left;
    }
}

@media(max-width: 500px) {
    .orderMain-menu ul li {
        width: 100%;
        margin: 0;
        float: none;
    }
}

/* 產品 */


.orderMain-product {
    float: left;
    width: 79%;
}

@media(max-width: 840px) {
    .orderMain-product {
        float: none;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

/* search */
.orderMain-product-search {
    width: 64.66666%;
    margin-left: 1%;
    float: left;
    position: relative;
}

.orderMain-product-search input[type="text"] {
    width: 100%;
    border-radius: 0 !important;
    border: 2px solid #3D1101 !important;
    background: rgba(239, 233, 231, 1);
}

.orderMain-product-searchIcon {
    background: #3D1101;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 33px;
    padding: 0;
    border-radius: 0;
}

@media(max-width: 840px) {
    .orderMain-product-search {
        margin-left: 1em;
    }
}

@media(max-width: 500px) {
    .orderMain-product-search {
        float: none;
        margin-left: 0;
        margin-bottom: 1em;
        width: 100%;
    }
}

/* 購物車 */

.orderMain-product-shoppingCart {
    float: right;
    margin-right: 1.5em;
}

.orderMain-product-shoppingCart li {
    float: left;
    line-height: 33.33px;
}

.orderMain-product-shoppingCart-buy a::after {
    content: "";
    border: 0.5px solid;
    display: inline-block;
    height: 0.8em;
    margin: 0 1em;
}

@media(max-width: 840px) {
    .orderMain-product-shoppingCart {
        margin-right: 1em;
    }
}

@media(max-width: 500px) {
    .orderMain-product-shoppingCart {
        margin-right: 0;
    }
}

/* 購物車產品數量 */

.orderMain-product-shoppingCart {
	position: relative;
}

.shopping-cart-productNum {
	background: #ff5e45;
	font-size: 12px;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	text-align: center;
	line-height: 14px;
	color: #fff;
	position: absolute;
	top: 0;
	right: -7px;
}

/* 產品項目 */

.orderMain-product-item li {
    width: 31.33333%;
    margin: 1em 1%;
    box-shadow: 3px 3px 5px gray;
    float: left;
    position: relative;
}

@media(max-width: 768px) {
    .orderMain-product-item li {
        width: 45%;
        margin: 1em 2.5%;
    }
}



@media(max-width: 500px) {
    .orderMain-product-item li {
        width: 100%;
        margin: 1em 0;
    }
}

.orderMain-product-favoriteIcon {
    color: #fff;
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 1.3em;
}

/* prosuct-item 資訊 */

.orderMain-product-item-infor {
    width: 100%;
    display: block;
    padding: 0.5em 1em;
    text-align: center;
}

.orderMain-product-item-infor h5 {
    font-size: 12px;
}

.orderMain-product-item-infor h5::after {
    content: "";
    border-bottom: 1.5px solid;
    border-radius: 5px;
    width: 50%;
    margin: 0.5em auto 1em auto;
    display: block;
}

.orderMain-product-item-infor>i {
    font-style: italic;
}

.orderMain-product-item-infor a {
    border: 2px solid #ff5e45;
    display: block;
    text-align: center;
    border-radius: 3px;
    margin-top: 1em;
    color: #ff5e45;
    transition: all 0.3s;
}

.orderMain-product-item-infor a:hover {
    background: #ff5e45;
    color: #fff;
}

/* 訂購頁 end */