.accountMain {
    .accountMain-logo {
        background: url(../img/logo_l@svg.svg);
        width: 243px;
        height: 48px;
        margin: 0 auto;
    }

    h4 {
        text-align: center;
    }
}