// color
$mainColor : #3D1101;
$shoppingCartColor: #ff5e45;

$hotTagColor: #00cc99;
$hotTagShadowColor: #0f765b;

// font
$fontFamily : Microsoft JhengHei;
$font-m: 16px;
$font-h2: $font-m*2.3;
$font-h3: $font-m*1.4;
$font-h4: $font-m*1.2;
$font-s: $font-m*0.8;

// rwd mobile width
$mbWidth: 90%;

// for 註冊登入表單
$inputWidth: 100%;
$labelTop: 1.5em;
$btnTop: 3em;